[Desktop Entry]
Type=Application
Exec=lxterminal -e /home/piu/messbox/scheduler/delayed-start.sh /home/piu/messbox/scheduler/gqrx-apscheduler.py /home/piu/messbox/scheduler/hgv-17-21_v2.toml
